/***********
 * general *
 ***********/
.background {
	background-color: @theme_bg_color;
	color: @theme_fg_color;
}
*:disabled {
	color: shade(@theme_bg_color, .6);
	text-shadow: 1px 1px @theme_base_color;
	-gtk-icon-effect: dim;
}

/***********
 * buttons *
 ***********/
button {
	border-image: url("assets/button.png") 3 / 3px stretch;
	padding: 5px;
}
button:hover {
	background-color: shade(@theme_bg_color, 1.05);
}
button:active {
	border-image-source: url("assets/button-active.png");
}
button:active:hover,
button.toggle:checked,
button.toggle:active:hover {
	background-color: shade(@theme_bg_color, .9);
	border-image-source: url("assets/button-pressed.png");
	padding: 6px 4px 4px 6px;
}
button:focus {
	border-image-source: url("assets/button-focus.png");
}
button:disabled {
	border-image-source: url("assets/button-disabled.png");
}
button-flat, button.link {
	border: 0;
}
button.link {
	color: @link_color;
}





progressbar trough,
scale {
	background-color: shade(@theme_bg_color, .9);
	border: solid 1px shade(@theme_bg_color, .6);
	border-bottom-color: white;
	border-right-color: white;
}




/*********
 * scale *
 *********/
scale {
	margin: 1px;
}
scale slider {
	background: @theme_bg_color;
}
scale.horizontal trough {
	margin: 0 15px;
}
scale.vertical trough {
	margin: 15px 0;
}
scale.horizontal slider {
	background-image: url("assets/scale-slider-horizontal.png");
	min-height: 14px;
	min-width: 30px;
}
scale.vertical slider {
	background-image: url("assets/scale-slider-vertical.png");
	min-height: 30px;
	min-width: 14px;
}

/***************
 * progressbar *
 ***************/
progressbar {
	font-size: .8em;
}
progressbar trough {
	padding: 1px;	
}
progressbar progress {
	background: @theme_selected_bg_color;
	border-image: url("assets/progress.png") 2 / 2px stretch;
	color: @theme_selected_fg_color;
}
progressbar.horizontal,
progressbar.horizontal progress,
progressbar.horizontal trough {
	min-height: 16px;
}
progressbar.vertical,
progressbar.vertical progress,
progressbar.vertical trough {
	min-width: 16px;
}

/**********
 * switch *
 **********/
switch {
	background-color: shade(@theme_bg_color, .9);
	border-image: url("assets/button-pressed.png") 3 / 3px stretch;
}
switch slider {
	background-color: @theme_bg_color;
	border-image: url("assets/button.png") 3 / 3px stretch;
	margin: 2px;
}
