/* Caja
   ========================================================================== */
.caja-navigation-window tab button,
.caja-navigation-window tab button:active:hover {
	padding: 0px;
}
.caja-side-pane treeview {
	padding: 2px 0;
}
.caja-navigation-window statusbar border {
	border: 0;
}
.caja-navigation-window notebook .view {
	background: @theme_base_color;
}
.caja-navigation-window notebook .view:selected {
	background-color: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}
.caja-navigation-window notebook .view.rubberband {
	background-color: alpha(@theme_selected_bg_color, 0.3);
	border: 1px solid @theme_selected_bg_color;
}
