/********
 * Tabs *
 ********/
#TabsToolbar .toolbar-items {
  background: #c8c5be;
}
#tabbrowser-tabs {
  height: 3.2rem;
  margin: 0 !important;
  padding: 3px 0 0 3px !important;
}
.tabbrowser-tab {
  padding-inline: 0 !important;
}
tab .tab-content {
  border-image: url("notebook-tab-top.png") 2 / 2px stretch;
}
tab.tabbrowser-tab {
  margin-top: 2px !important;
}
tab.tabbrowser-tab[selected] {
  margin-top: 0 !important;
}
.tab-background {
  margin-block: 0 !important;
}
#nav-bar:not([tabs-hidden="true"]) {
  box-shadow: 0 calc(-1 * var(--tabs-navbar-shadow-size)) 0 white !important;
}
.tab-close-button {
  margin-inline-end: 0 !important;
  width: 16px !important;
  height: 16px !important;
  padding: 3px !important;
}
.close-icon:hover {
  background: #e6e5e1 !important;
  fill-opacity: 1 !important;
  border-radius: 0 !important;
}
#scrollbutton-up,
#scrollbutton-down {
  padding: 0 !important;
}
#alltabs-button > stack {
  background: transparent !important;
}
#nav-bar #allTabsMenu-allTabsView toolbarbutton {
  border: 0 !important;
  padding: .4rem .6rem !important;
}
#allTabsMenu-allTabsViewTabs toolbarbutton {
  margin: 0 !important;
}

/***********
 * Toolbar *
 ***********/
#nav-bar {
  padding: 3px !important;
}
#nav-bar toolbarbutton,
#nav-bar toolbaritem {
  padding: 0 !important;
}
#nav-bar toolbarbutton:not([disabled]):not([open]):hover,
toolbar toolbarbutton:not([disabled]):not([open]):hover,
findbar toolbarbutton:not([disabled]):not([open]):hover {
  background: #e6e5e1 !important;
  border-image: url("button-hover.png") 2 / 2px stretch;
}
toolbarbutton:not([disabled])[open] {
  background: #c8c5be !important;
  border-image: url("button-pressed.png") 2 / 2px stretch;
}
toolbarbutton > .toolbarbutton-icon,
#nav-bar toolbarbutton > .toolbarbutton-badge-stack {
  background: transparent !important;
}

/***********
 * URL Bar *
 ***********/
#urlbar {
  top: 0 !important;
}
#urlbar > #urlbar-background, #searchbar {
  animation-duration: 0ms !important;
  border-image: url("entry.png") 2 / 2px stretch !important;
  box-shadow: none !important;
  outline: none !important;
}
#urlbar[breakout][breakout-extend] {
  left: 0 !important;
  width: 100% !important;
}
#urlbar-input-container {
  height: calc(var(--urlbar-height)) !important;
  padding: 0 !important;
}

/*************
 * Bookmarks *
 *************/
toolbarseparator::before {
  border-image: url("separator-vertical.png") 1 / 1px stretch !important;
  margin: 3px 0;
  width: 2px;
}

/************
 * Find Bar *
 ************/
.findbar-textbox {
  border-image: url("entry.png") 2 / 2px stretch !important;
}
.findbar-textbox[status="notfound"] {
  background: #f03838 !important;
  color: white !important;
  outline: none !important;
}
.findbar-textbox:focus {
  outline: none !important;
}
.checkbox-check {
  background: url(check.png) no-repeat center !important;
  border: none !important;
  height: 15px !important;
  width: 15px !important;
}
.checkbox-check[checked=true] {
  background: url(check-checked.png) no-repeat center !important;
}
.findbar-find-status[status="notfound"] {
  color: #f03838 !important;
  opacity: 1 !important;
}
