Source: raleigh-reloaded
Maintainer: Vlasta Vesely <vlastavesely@protonmail.ch>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: raleigh-reloaded
Architecture: all
Depends: ${misc:Depends}
Description: GTK-3.20 version of Raleigh theme
 Raleigh Reloaded is a conservative GTK-3.20 theme aiming to revive the
 Raleigh theme, the default theme of GTK-2.0.
